#friends-display-link {
  font-size: 14px;
  display: flex;
  justify-content: center;
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 10px 0px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
  padding: var(--horizontal-space);
}

.firends-screen__channel {
  margin-top: 20px;
  border-top: var(--main-border);
  padding-top: 15px;
  font-size: 15px;
}

.friends_screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.4);
}
