.body {
  background-color: white;
}

.nav {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background: #f9f9f9;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
  color: #2e363e;
}

.nav__notification {
  position: absolute;
  left: 15px;
  top: -11px;
}

.nav__newellipsis {
  width: 7px;
  height: 7px;
  display: block;
  background-color: tomato;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  position: absolute;
  right: -8px;
}

.nav__newellipsis-header {
  width: 7px;
  height: 7px;
  display: block;
  background-color: tomato;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  position: absolute;
  right: -8px;
}
